@model StudentViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/student-home.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/fontawesome-free-6.4.0-web/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/c1ebd643d0.js" crossorigin="anonymous"></script>

</head>
<body>
<nav role="navigation">
  <div id="menuToggle">
      <input type="checkbox" />
    
    <span></span>
    <span></span>
    <span></span>
    
    <ul id="menu">
        <a href="#"><li>Home</li></a>
        <hr>
        <a id="choose-course" href="ChooseCourseGeneral?email=@Model.Email"><li>Choose a course</li></a>
        <hr>
        <a asp-action="Notifications"><li>Notifications</li></a>
        <hr>
        <a asp-action="LogOut"><li>Log out</li></a>
        <hr>
    </ul>
  </div>
</nav>
<div class="wrapper">
    <div class="student-home-container">
        <div class="upper-box container">
    
            <div class="photo-circle"></div>
            <div class="profile-form">
                <div class="column-1">
                    <input class="form-control" placeholder="@Model.FirstName" disabled/>
                    <input class="form-control" placeholder="@Model.Email" disabled/>
                </div>
                <div class="column-2">
                    <input class="form-control" placeholder="@Model.LastName" disabled/>
                    <input class="form-control" placeholder="@Model.Year" disabled/>
                </div>
                <div class="btn-row" type="button">
                    <button class="btn-edit btn btn-primary">Edit</button>
                </div>
            </div>
            <div class="column-3">
                <div class="icon">
                    <i class="fa-solid fa-bell fa-xl"></i>
                </div>
                <div class="enrolled-text">
                    <h4>Enrolled: @Model?.StudentCoursesNumber/@Model?.CoursesNumber</h4>
                </div>
            </div>
    
        </div>
        <div class="lower-box">
            @if (Model.StudentCourses != null && Model?.StudentCourses?.Count != 0)
            {
                <div></div>
            }
            else
            {
                <h2>You haven't picked any courses yet</h2>
            }
        </div>
    
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="~/js/student-home.js"></script>
</body>
</html>