@model ProfessorViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/manager-home.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/professor-home.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/fontawesome-free-6.4.0-web/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/toastify-js-master/src/toastify.css"/>
    <script src="https://kit.fontawesome.com/c1ebd643d0.js" crossorigin="anonymous"></script>

</head>
<body>
<nav role="navigation">
    <div id="menuToggle">
        <input type="checkbox"/>

        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
            <a href="#">
                <li>Home</li>
            </a>
            <hr>
            <a>
                <li>Courses</li>
            </a>
            <hr>
            <a asp-controller="Access" asp-action="LogOut">
                <li>Log out</li>
            </a>
            <hr>
        </ul>
    </div>
</nav>
<div class="wrapper">
    <div class="student-home-container">
        <div class="upper-box container">
    
            <div class="photo-circle"></div>
            <div class="profile-form">
                <div class="column-1">
                    <input class="form-control" placeholder="@Model?.FirstName" disabled/>
                    <input class="form-control" placeholder="@Model?.Email" disabled/>
                </div>
                <div class="column-2">
                    <input class="form-control" placeholder="@Model?.LastName" disabled/>
                </div>
                <div class="btn-row" type="button">
                    <button class="btn-edit btn btn-primary" id="btn-edit">Edit</button>
                </div>
            </div>
    
        </div>
        <div class="lower-box">
            <div class="grid-container-2">

                    <form class="form-container" asp-action="CreateNewCourseAction">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="second-row">
                                    <div class="form-group">
                                        <label asp-for="NewCourse.Name" class="control-label"></label>
                                        <input placeholder="New Course" asp-for="NewCourse.Name" class="form-control"/>
                                        <span asp-validation-for="NewCourse.Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="second-row">
                                    <div class="form-group">
                                        <label asp-for="NewCourse.Description" class="control-label"></label>
                                        <textarea placeholder="Course description" rows="5" asp-for="NewCourse.Description" class="form-control"></textarea>
                                        <span asp-validation-for="NewCourse.Description" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="second-row">
                                    <div class="form-group">
                                        <label asp-for="NewCourse.Year" class="control-label"></label>
                                        <input placeholder="Course description" asp-for="NewCourse.Year" class="form-control"/>
                                        <span asp-validation-for="NewCourse.Year" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="btn-row" type="button">
                                    <input class="btn-edit btn btn-primary" type="submit" value="Create new course"/>
                                    </div>
                            </form>
                    @*
                    <div class="btn-container" id="btns">
                        <button class="btn btn-outline-secondary prof-btns" id="cancel-prof">Cancel</button>
                        <button class="btn btn-primary prof-btns" id="reject-prof" onclick="professorAction('@Model?.Email', false)">Reject</button>
                        <button class="btn btn-primary prof-btns" id="approve-prof" onclick="professorAction('@Model?.Email', true)">Approve</button>
                    </div>
                    *@
                </div>

        </div>
    
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="~/js/professor-home.js"></script>

@*
<script src="~/js/manager-home.js"></script>
<script src="~/toastify-js-master/src/toastify.js"></script>
*@
</body>
</html>